<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Coaches</title>
</head>

<body>
<h1 class="text-center">Welcome to the Sports Web App</h1>

<div class="text-center">
    <a href="coaches" ><button class="btn btn-outline-primary">Coach</button></a>
    <a href="teams" ><button class="btn btn-outline-primary">Team</button></a>
    <a href="players" ><button class="btn btn-outline-primary">Player</button></a>
    <br>

    <img th:src="@{nbachart.jpg}" alt="NBA Teams">
</div>
</body>
</html>
