<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Teams</title>
</head>
<body>
<!-- nav -->
<div class="text-center">
    <a href="coaches" ><button class="btn btn-outline-primary">Coach</button></a>
    <a href="teams" ><button class="btn btn-outline-primary">Team</button></a>
    <a href="players" ><button class="btn btn-outline-primary">Player</button></a>
</div>

<div class="row m-4 border border-dark">
    <div class="col text-center m-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>State</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Team Payroll</th>
                <th>Players/Coaches</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <td th:text="${team.teamId}">Team ID</td>
                <td th:text='${team.teamName}'>Team Name</td>
                <td th:text='${team.teamState}'>Team State</td>
                <td th:text='${team.wins}'>Team wins</td>
                <td th:text='${team.losses}'>Team losses</td>
                <td th:text='${team.teamPayroll}'>Team payroll</td>
                <td><a href="#" th:href="@{/teamDetail(id=${team.teamId})}">Details</a></td>
                <td><a href="#" th:href="@{/editTeam(id=${team.teamId})}">Edit</a></td>
                <td><a href="#" th:href="@{/deleteTeam(id=${team.teamId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- button to add new team -->
<div class="col text-center m-3">
    <a href="addTeam" class="btn btn-outline-primary btn-lg">Add New Team</a>
</div>





</body>
</html>